<div>
  <ngx-datatable
    class="material fullscreen"
    [rows]="rows"
    [headerHeight]="50"
    [scrollbarV]="true"
    [footerHeight]="50"
    [rowHeight]="50"
    [columnMode]="'force'"
    [rowClass]="getRowClass"
    (treeAction)="onTreeAction($event)"
  >
    <ngx-datatable-column
      *ngFor="let column of columns"
      [name]="column.label"
      [prop]="column.value"
      [flexGrow]="3"
      [isTreeColumn]="true"
    >
      <ng-template ngx-datatable-header-template>
        <span>{{ column.label }}</span>
      </ng-template>

      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span>{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
