<div>
  <ngx-datatable
    class="material fullscreen"
    [rows]="rows"
    [headerHeight]="50"
    [scrollbarV]="true"
    [footerHeight]="50"
    [rowHeight]="50"
    [columnMode]="'force'"
    (treeAction)="onTreeAction($event)"
  >
    <ngx-datatable-column
      *ngFor="let column of columns"
      [name]="column.label"
      [prop]="column.value"
      [flexGrow]="3"
      [isTreeColumn]="isTreeColumn(column.label)"
    >
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
